{%macro my_paginate(pagination,url)%}
    <p class="page_p">
        {%if pagination.has_prev%}
        <a class="a_page" href="{{url_for(url,page=pagination.page-1)}}"> < </a>
        {%else%}
        <a class="a_page" href="#"> < </a>
        {%endif%}
        <span>
            {%for page in pagination.iter_pages()%}
            {%if page%}
                <a class="a_page" href="{{url_for(url,page=page)}}">{{page}}</a>
            {%else%}
                <a class="a_page" href="#">&hellip;</a>
            {%endif%}
        </span>
        {%endfor%}
 
        {%if pagination.has_next%}
        <a  class="a_page" href="{{url_for(url,page=pagination.page+1)}}"> > </a>
        {%else%}
        <a class="a_page" href="#"> > </a>
        {%endif%}
    </p>
{%endmacro%}